**/.env
**/.env.*
**/.git
**/.idea
**/.next/cache
**/.vscode
**/coverage
**/node_modules
!backend/.medusa/server/node_modules
!backend/.medusa/server/node_modules/**
!storefront/.next/standalone/node_modules
!storefront/.next/standalone/node_modules/**
!storefront/.next/standalone/storefront/node_modules
!storefront/.next/standalone/storefront/node_modules/**
**/test-results
**/tmp
.codex
.lighthouseci
.railway
Default
docs
lighthouse
qa
